
*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

*{
 outline: 1px solid red;
}

nav{
    width: 100vw;
    height: 5.5vw;
    background-color: #fff;
}

.space{
    margin-bottom: 1000px;
}

.new{
    background-color: white ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 100px;
}

.new5{
    background-color: white ;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.new2{
    background-color: white ;
    padding: 20px;
    padding-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.picout{
    background-color: black ;
    padding: 10px;
    border-radius: 5px;
}


ul{
    margin-left: 10vw;

}

ul li{
list-style: none;
display: inline-block;
float: left;
line-height: 5.3vw;

}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 1.3vw;
    font-family: Arial;
    color: #1e1e1e;
    padding: 0 1.33vw;
}

ul li a:hover{
    color: rgb(125, 177, 245);
}

a {
	outline: none;
}

.fa-file{
    color: black;
    vertical-align: 7vw;
}
.fa-file:hover {
    color: rgb(125, 177, 245);
}

.fa-linkedin-square{
    text-decoration: none;
    color: black;
    vertical-align: 7vw;
}
.fa-linkedin-square:hover {
    color: rgb(125, 177, 245);
}

.fa-github-square{
    text-decoration: none;
    color: black;
    vertical-align: 7vw;
    
}
.fa-github-square:hover {
    color: rgb(125, 177, 245);
}

.fa-apple{
    text-decoration: none;
    color: black;
    vertical-align: 10vw;
}
.fa-apple:hover {
    color: rgb(125, 177, 245);
}

.fa-android{
    text-decoration: none;
    color: black;
    vertical-align: 10vw;
}
.fa-android:hover {
    color: rgb(125, 177, 245);
}

.fa-envelope{
    text-decoration: none;
    color: black;
    vertical-align: 7vw;
}


.fa-hackerrank{
    text-decoration: none;
    color: black;
}

.fa-hackerrank:hover{
    color: rgb(125, 177, 245);
}

.fa-envelope:hover {
    color: rgb(125, 177, 245);
}

span{
    background:#F8F8F8;
    border: 5px solid black;
    color: black;
    font-size: 13px;
    height: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -130px;
    left:-35%;
    display:none;
    padding:0 20px;
    margin-top: 0px; 
}
span:after{
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid black;
    border-right:5px solid black;
    background:#f8f8f8;
    left:42%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    margin-top: 0px; 
}



i:hover span{
    display:block;
    color: black;
    position: relative;
}


.fa-award{
    text-decoration: none;
    color: black;
    position: static;
    padding-right: 25px;
    font-size: 75px;
    margin-top: 100px;
    vertical-align: top;
    padding-left: 25px;
}

.fa-award:hover{
    color: rgb(125, 177, 245);
}


body{
    margin-top: 0cm;
    padding: 10;
    margin:10;
    font-size: 9px;
    font: normal 10px Arial, Georgia;
    width: 100vw;
}

html, body {
    height: 100vh; /* necessary */
    }

.wrapper{
    margin: 0 auto 0 60px;
    width: 1000px;
}

.wrapper1{
    margin: 0 auto 0 60px;
    width: 750px;
    font-size: 7pt;
    
}

li{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}

h1 {
    font-size: 20px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif
}

.main-photo{
}

.tryout-photo{
    width: 275px;
    padding-right: 100px;
}

.menu-photo{
    width: 300px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.menu-photo:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.chem-photo{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.chem-photo:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}


  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.portfolio-photo{
    width: 200px;
    opacity: 1.0;
    filter: alpha(opacity=100);
    padding-right: 25px;
}

.portfolio-photo:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.new_link{
    color:rgb(125, 177, 245);
    text-decoration: none;
}

.main1-photo{
    width: 450px;
}

.pinkman-photo{
    width: 450px;
    padding-left: 400px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }

.menu5-photo{
    width: 300px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.menu10-photo{
    width: 900px;
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.menu5-photo:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

